*.iml
.gradle/
gradle/wrapper/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
out/

# JANGAN PERNAH commit keystore, token, atau kata sandinya
*.jks
*.keystore
*.p12
*.b64
keystore.properties
*.token
secrets.*
# File dengan prefiks PakeAja, Token, Secret — apapun bentuknya
PakeAja*
